body {
    margin: 0;
}

header,footer {
    background-color: gray;
    color: white;
    overflow: hidden;  
    width: 100%;
}

div#content {
    margin: 10px;
}

section.row {
    background-color:pink;
}

section.col {
    width: 33%;
    float: left;
    background-color: yellow;
}
section.cat{
    background-image: url(http://i0.kym-cdn.com/entries/icons/mobile/000/011/365/GRUMPYCAT.jpg);
    height: 60%;
    width: 99%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: relative;
}
